<div>
    <p>Hi&nbsp;<%= comment.user.name %>!</p>
    <br>
    <p style="background-color: red;">Your v comment <Strong><%= comment.content %></Strong> just got published on codeial</p>
  <br>
  <br>
  </p>Thanks!</p>
</div>